$textsize: 18px;
$softblue: hsl(231, 69%, 60%);
$softred: hsl(0, 94%, 66%);
$grayishblue: hsl(229, 8%, 60%);
$verydark: hsl(229, 31%, 21%);

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Rubik", sans-serif;
  
}

.navx {
  background-color: #fff;
  //   padding:20px 90px 10px 90px;
  a {
    color: black;
    &:hover {
      color: $softred;
    }
  }
  .nav-item {
    margin-left: 30px;
    text-transform: uppercase;
    font-size: $textsize;

    &:hover {
      color: $softred;
    }
  }
}

.btn-nav {
  border: solid 2px;
  color: $softred;
  border-radius: 5px;
  width: 100px;
  text-transform: uppercase;
  font-size: $textsize;
  padding: 5px;
  transition: all ease 0.7s;


  &:hover {
    background-color: $softred;
    color: white;
    border: none;
    border: solid 2px;
  }
}

.hero-area {
  padding-top: 130px;
  margin-top: 90px;

  h1 {
    font-size: 50px;
    font-weight: 500;
  }

  .hero-btn-second {
    background-color: $verydark;
  transition: all ease 0.7s;


    &:hover {
      color: $softblue;
      border: 1px solid $verydark;
      background-color: #fff;

    }
  }
}

p {
  font-size: $textsize;
  color: $grayishblue;
}

.cardx {
  height: 300px;
  background-color: #fff;
  box-shadow: inset;
  width: 75%;
  box-shadow: 0 1.5em 2em 0em #999;
  border-radius: 20px;
  // margin:auto;
}

.hero-btn {
  border: solid 2px $softblue;
  color: #fff;
  border-radius: 9px;
  //   width: 100px;
  transition: all ease 0.8s;


  font-size: 15px;
  background-color: $softblue;
  padding: 13px 30px 13px 30px;
  margin-right: 10px;
  font-weight: 500;
  &:hover {
    color: $softblue;
    border: 1px solid $softblue;
    background-color: #fff;
  }
}

.mtx {
  margin-top: 6rem;
}

.extension {
  padding-bottom: 100px;
}
.sub-footer {
  background-color: $softblue;
  width: 100%;
  height: 300px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  .sub-btn {
    border: solid 2px $softblue;
    color: #fff;
    border-radius: 9px;
    //   width: 100px;

    font-size: 15px;
    background-color: $softred;
    padding: 13px 30px 13px 30px;
    margin-right: 10px;
    font-weight: 500;
  }
}
::placeholder {
  font-size: 15px;
  color: $grayishblue;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
background-color: $verydark;
  text-align: center;

  p {
    
    text-transform: uppercase;
    margin: 0px 30px 30px 30px;
    

    font-size: $textsize;
    text-align: center;
    color: #fff;

    &:hover {
      color: $softred;
    }
  }
}
//questions style

.questions .card {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.questions .card .card-header {
  background-color: transparent;
}
.questions .card .btn {
  position: relative;
}
.questions .card .btn:hover {
  color: $softred;
}
.questions .card .btn::before {
  content: "";
  background: url("../images/icon-arrow.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.questions .card .btn.active{
  color: $softred;
}
.questions .card .btn.active::before {
  transform: translateY(-50%) rotate(180deg);
  filter: hue-rotate(115deg);
}